{% include 'user/parent.html' %} {% load static %}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">My Card</h1>
    </div>
</div>
</div>


        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">My Card</h5>
                    <h1 class="mb-5">Download your QR Code</h1>
                </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            {% if qr_image_url %}
                                <img class="img-fluid" src="{{ qr_image_url }}" alt="mycard">
                                <a href="{{ qr_image_url }}" 
                                   download="{{ qr_image_name }}"
                                   class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">
                                   Download
                                </a>
                            {% else %}
                                <p>No QR code available.</p>
                            {% endif %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


{% include "user/footer.html" %}