{% comment %} <p class="mb-4">
    Hetauda's premier pure vegetarian restaurant. Situated conveniently on
    the main road, we specialize in authentic Indian vegetarian cuisine,
    featuring both North and South Indian delicacies. Whether you're
    dining in or ordering out, we guarantee the highest quality in every
    dish.
  </p>
  <p class="mb-4">
    Don't miss our Vrindavan Misthanna Bhandar, where we serve a wide
    array of traditional Indian sweets. Join us for an exceptional
    vegetarian dining experience. {% endcomment %}