{% extends 'adminfile/ad_parent.html' %}
{% load static %}

{% block contents %}

<title>User List</title>

<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <form method="GET" action="{% url 'userlist' %}">
        <input type="text" name="q" placeholder="Search by name or email..." value="{{ query|default_if_none:'' }}">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="submit" name="export" value="true" class="btn btn-success">Download Data</button>
      </form>    
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
            <input type="hidden" name="is_multiple" value="true">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                  <tr>
                      <th scope="col">S.N.</th>
                      <th scope="col">User Name</th>
                      <th scope="col">Gmail</th>
                      <th scope="col">Number</th>
                      <th scope="col">Location</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in userlist %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                      <td class="tm-product-name">{{ user.full_name }}</td>
                      <td>{{ user.user.email }}</td>
                      <td>{{ user.phone }}</td>
                      <td>{{ user.location }}</td>
                      <td></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
  function deleteSingleProduct(productId) {
    if (confirm('Are you sure you want to delete this product?')) {
      const form = document.getElementById('delete-form');
      form.action = `{% url 'delete_product' 0 %}`.replace('0', productId);
      form.submit();
    }
  }

  function deleteSelectedProducts() {
    const form = document.getElementById('delete-form');
    if (confirm('Are you sure you want to delete the selected products?')) {
      form.submit();
    }
  }

</script>

{% endblock %}
