{% include 'user/parent.html' %} {% load static %}



        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">My Card</h5>
                    <h1 class="mb-5">Download your QR Code</h1>
                </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">
                            </div>
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Download</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


{% include "user/footer.html" %}